@font-face {
    font-family: Steclo;
    src: url("font/Pepper\ Type\ -\ Steclo-ExtraLight.otf") format("opentype");
}

@font-face {
    font-family: comiccat;
    src: url("font/Comic_CAT.otf") format("opentype");
}

* {
    margin: 0;
    padding: 0;
}

.one {
    color: red;
}
.two {
    color: rgb(255, 208, 0);
}

.free {
    color: rgb(145, 255, 0);
}

.foo {
    color: rgb(0, 255, 123);
}

.five {
    color: rgb(0, 225, 255);
}

.six {
    color: rgb(0, 85, 255);
}

.seven {
    color: rgb(221, 0, 255);
}

.ait {
    color: rgb(255, 0, 153);
}

.nine {
    color: rgb(187, 160, 89);
    cursor: default;
}

.bor {
    border: 2px solid rgb(255, 183, 1);
    padding: 0.5%;
    border-radius: 30%;
}

.ten {
    color: black;
}

body {
    background-color: rgb(0, 225, 255);
    background-size: 100% auto;
    background-attachment: inherit;
}

p {
    line-height: 160%;
}

.two {
    font-size: 200%;
}

footer {
    width: 100%;
    text-align: center;
    font-size: 120%;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: rgb(73, 73, 73);
    padding-top: 7%;
    padding-bottom: 2%;
    background-color: rgb(25, 183, 204);
}

@media (min-width:1081px)  {

    nav .menu__box {
        display: none;
    }
    
    nav .hamburger-menu {
        display: none;
    }
    
    nav {
        margin-top: 2%;
        width: 100%;
        text-align: center;
    }
    
    nav ul li {
        display: inline;
        justify-content: space-around;
        margin-left: 1%;
        margin-right: 1%;
    }
    
    nav ul li a {
        text-decoration: none;
        color: rgb(139, 113, 46);
        font-family: Steclo;
        font-size: 150%;
    
    }
    
    main {
        width: 100%;
        height: auto;
        margin-top: 11%;
    }

    section {
        margin-top: 10%;
    }

    section.qw p {
        font-family: steclo;
        font-size: 170%;
        margin-left: 10%;
    }

    section.qw img {
        float: right;
        margin-right: 10%;
        margin-left: 10%;
    }

    section.qw img {
        width: 35%;
        height: auto;
    }

    section.ww p {
        font-family: steclo;
        font-size: 200%;
        margin: 5%;
    }

    section.ww img {
        margin-bottom: 10%;
    }

    section.we h2 {
        color: rgb(255, 255, 0);
        font-family: steclo;
        font-size: 300%;
    }

    article p.art {
        color: black;
        font-family: comiccat;
    }

    section.er {
        font-family: steclo;
        font-size: 200%;
        margin: 5%;
    }

    p.er {
        font-family: steclo;
    }

    .two {
        font-size: 200%;
    }
}


@media screen and (max-width: 1080px) and (min-width: 521px) {
    nav .menu__box {
        display: none;
    }
    
    nav .hamburger-menu {
        display: none;
    }

    nav {
        width: 100%;

    }

    nav ul {
        justify-content: space-evenly;

    }

    nav ul li {
        display: inline;
        margin-left: 84%;
    }

    nav ul li a {
        text-decoration: none;
        color: rgb(139, 113, 46);
        font-family: Steclo;
        font-size: 150%;
    }



    main {
        width: 100%;
        height: auto;
        margin-top: 11%;
    }

    section {
        margin-top: 10%;
        height: 100%;
    }

    section.qw {
        width: 100%;
    }

    section.qw p {
        width: 60%;
        font-family: steclo;
        font-size: 110%;
        margin-left: 3%;
    }

    section.qw img {
        width: 40%;
        float: right;
        margin-right: 5%;
    }

    section.ww p {
        font-family: steclo;
        font-size: 200%;
        margin: 5%;
    }

    section.ww img {
        margin-bottom: 10%;
    }

    section.we h2 {
        color: rgb(255, 255, 0);
        font-family: steclo;
        font-size: 300%;
    }

    article p.art {
        color: black;
        font-family: comiccat;
    }

    section.er {
        font-family: steclo;
        font-size: 200%;
        margin: 5%;
    }

    p.er {
        font-family: steclo;
    }

    .two {
        font-size: 200%;
    }
}

@media screen and (max-width:520px) {

    nav {
        width: 100%;
        margin: 0;
    }

    nav ul {
        display: none;
    }



    #menu__toggle {
        opacity: 0;
      }
    
      .menu__btn {
        display: flex;
        align-items: center;
        position: fixed;
        top: 20px;
        left: 20px;
        width: 26px;
        height: 26px;
        cursor: pointer;
        z-index: 1;
      }
    
      .menu__btn > span,
      .menu__btn > span::before,
      .menu__btn > span::after {
        display: block;
        position: absolute;
        width: 100%;
        height: 2px;
        background-color: #be7900;
      }
      .menu__btn > span::before {
        content: '';
        top: -8px;
      }
      .menu__btn > span::after {
        content: '';
        top: 8px;
      }
    
    
    /* контейнер меню */
    .menu__box {
        display: block;
        position: fixed;
        visibility: hidden;
        top: 0;
        left: -100%;
        width: 100%;
        height: 35%;
        margin: 0;
        padding-top: 10%;
        list-style: none;
        text-align: center;
        background-color: #fff200;
        box-shadow: 1px 0px 6px rgba(0, 0, 0, .2);
      }
      /* элементы меню */
      .menu__item {
        display: block;
        padding: 12px 24px;
        color: #333;
        font-family: steclo;
        font-size: 30px;
        font-weight: 600;
        text-decoration: none;
      }
      .menu__item:hover {
        background-color: #CFD8DC;
      }
    
      #menu__toggle:checked ~ .menu__btn > span {
        transform: rotate(45deg);
      }
      #menu__toggle:checked ~ .menu__btn > span::before {
        top: 0;
        transform: rotate(0);
      }
      #menu__toggle:checked ~ .menu__btn > span::after {
        top: 0;
        transform: rotate(90deg);
      }
      #menu__toggle:checked ~ .menu__box {
        visibility: visible;
        left: 0;
      }
        
      .menu__btn > span,
      .menu__btn > span::before,
      .menu__btn > span::after {
        transition-duration: .25s;
      }
      .menu__box {
        transition-duration: .25s;
      }
      .menu__item {
        transition-duration: .25s;
      }
    
      .menu__box1 {
        display: none;
      }


      main {
        width: 100%;
        height: auto;
        margin-top: 11%;
    }

    section {
        margin-top: 10%;
        height: 100%;
    }

    section.qw {
        width: 100%;
    }

    section.qw p {
        width: 97%;
        font-family: steclo;
        font-size: 166%;
        margin-left: 3%;
    }

    section.qw img {
        display: none;
    }

    section.ww p {
        font-family: steclo;
        font-size: 200%;
        margin: 5%;
        border-bottom: 1px solid black;
    }

    section.ww img {
        display: none;
    }

    section.er {
        font-family: steclo;
        font-size: 200%;
        margin: 5%;
    }

    p.er {
        font-family: steclo;
    }

    section.we h2 {
        color: rgb(255, 255, 0);
        font-family: steclo;
        font-size: 300%;
    }

    article p.art {
        color: black;
        font-family: comiccat;
        font-size: 100%;
    }


    .two {
        font-size: 200%;
    }


}