* {
  margin: 0;
  padding: 0;
  /* border-width: 1px;
  border-style: solid;
  border-color: red; */
}

body.light-theme {
  --color-text: rgb(34, 34, 34);
  --color-background: rgb(204, 204, 204);
}

body.dark-theme {
  --color-text: rgb(250, 250, 250);
  --color-background: rgb(34, 34, 34);
}

body {
  background-color: var(--color-background);
  color: var(--color-text);
}

.buttons {
  padding-top: 1%;
  padding-left: 60%;
  display: flex;
  gap: 1%;
}

.button {
  border: 0;
  border-radius: 4px;
  font-size: 100%;
  padding: 1% 2%;
}

.button--selected {
  background-color: rgba(78, 78, 78, 0.363);
}

footer {
  width: 100%;
  text-align: center;
  font-size: 120%;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  color: rgb(207, 207, 207);
  padding-top: 7%;
  padding-bottom: 2%;
  background-color: rgb(54, 54, 54);
}

p {
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  margin-top: 3%;
  margin-bottom: 3%;
}

h2 {
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  font-size: 250%;
  text-align: center;
}

@media (min-width: 1081px) {
  nav .menu__box {
    display: none;
  }

  nav .hamburger-menu {
    display: none;
  }

  nav {
    width: 30%;
    text-align: justify;
    margin-right: 4%;
    margin-top: 2%;
    float: right;
  }

  nav ul {
    justify-content: space-between;
    display: flex;
  }

  nav ul li {
    list-style: none;
  }

  nav ul li a {
    text-decoration: none;
    color: rgb(139, 113, 46);
    font-size: 200%;
    font-family: Steclo;
  }

  /* index-стиль */
  body.index {
    background-image: url(images/aiyl.png);
    background-size: 100% auto;
    background-attachment: inherit;
    background-repeat: no-repeat;
  }

  main.index {
    width: 100%;
    height: auto;
    margin-top: 61%;
  }

  main.index p {
    text-align: center;
    font-size: 100%;
    margin-left: 15%;
    margin-right: 15%;
    font-family: comiccat;
  }

  section.index {
    border: 0px solid black;
    width: 100%;
    display: flex;
  }
  section img.index {
    margin-top: 1%;
    margin-bottom: 4%;
    margin-left: 0.15%;
    margin-right: 0.15%;
  }

  /* about-стиль */

  section.other {
    margin-top: 10%;
  }

  section.other p {
    font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
    font-size: 170%;
    text-align: center;
    margin-left: 10%;
    margin-right: 10%;
  }

  section.other img {
    margin-left: auto;
    margin-right: auto;
    display: flex;
    width: 35%;
    height: auto;
  }

  /* contact-стиль */

  main.contact {
    width: 100%;
  }

  main.contact img {
    min-height: 30%;
    min-width: 640px;
    width: 53.4%;
    height: auto;
    position: fixed;
    top: 0;
    left: 25%;
    z-index: -1;
  }

  h2.contact {
    margin-top: 20%;
    margin-left: 6%;
    margin-right: 1%;
    transform: rotate(-4deg);
    font-family: comiccat;
    font-size: 100%;
  }

  /* social-стиль */

  main.social {
    width: 100%;
  }

  main.social ul {
    display: inline-flex;
    justify-content: space-around;
    margin-left: 24%;
    margin-right: 10%;
    margin-top: 15%;
  }

  main.social ul li {
    list-style: none;
  }
}

@media screen and (max-width: 1080px) and (min-width: 521px) {
  nav .menu__box {
    display: none;
  }

  nav .hamburger-menu {
    display: none;
  }

  nav {
    width: 100%;
  }

  nav ul {
    justify-content: space-evenly;
  }

  nav ul li {
    display: inline;
    margin-left: 84%;
  }

  nav ul li a {
    text-decoration: none;
    color: rgb(139, 113, 46);
    font-family: Steclo;
    font-size: 150%;
  }

  /* index-стиль */
  body.index {
    background-image: url(images/aiyl.png);
    background-size: 100% auto;
    background-attachment: inherit;
    background-repeat: no-repeat;
  }

  main.index {
    width: 100%;
    height: auto;
    margin-top: 51%;
    text-align: center;
  }

  section.index img {
    width: 100%;
  }

  section.index {
    width: 100%;
  }

  /* about-стиль */

  section.other {
    margin-top: 10%;
  }

  section.other p {
    font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
    font-size: 170%;
    text-align: center;
    margin-left: 10%;
    margin-right: 10%;
  }

  section.other img {
    margin-left: auto;
    margin-right: auto;
    display: flex;
    width: 35%;
    height: auto;
  }

  /* contact-стиль */

  main.contact img {
    margin-left: auto;
    margin-right: auto;
    display: block;
  }

  h2.contact {
    font-family: comiccat;
    font-size: 100%;
    padding-bottom: 5%;
  }

  /* social-стиль */

  main.social {
    width: 100%;
  }

  main.social ul {
    display: inline-flex;
    justify-content: space-around;
    margin-left: 24%;
    margin-right: 10%;
    margin-top: 15%;
  }

  main.social ul li {
    list-style: none;
  }
}

@media screen and (max-width: 520px) {
  nav {
    width: 100%;
    margin: 0;
  }

  nav ul {
    display: none;
  }

  #menu__toggle {
    opacity: 0;
  }

  .menu__btn {
    display: flex;
    align-items: center;
    position: fixed;
    top: 20px;
    left: 20px;
    width: 26px;
    height: 26px;
    cursor: pointer;
    z-index: 1;
  }

  .menu__btn > span,
  .menu__btn > span::before,
  .menu__btn > span::after {
    display: block;
    position: absolute;
    width: 100%;
    height: 2px;
    background-color: #be7900;
  }
  .menu__btn > span::before {
    content: "";
    top: -8px;
  }
  .menu__btn > span::after {
    content: "";
    top: 8px;
  }

  /* контейнер меню */
  .menu__box {
    display: block;
    position: fixed;
    visibility: hidden;
    top: 0;
    left: -100%;
    width: 100%;

    margin: 0;
    padding-top: 15%;
    padding-bottom: 15%;
    list-style: none;
    text-align: center;
    background-color: #fff200;
    box-shadow: 1px 0px 6px rgba(0, 0, 0, 0.2);
  }
  /* элементы меню */
  .menu__item {
    display: block;
    padding: 12px 24px;
    color: #333;
    font-family: steclo;
    font-size: 30px;
    font-weight: 600;
    text-decoration: none;
  }
  .menu__item:hover {
    background-color: #cfd8dc;
  }

  #menu__toggle:checked ~ .menu__btn > span {
    transform: rotate(45deg);
  }
  #menu__toggle:checked ~ .menu__btn > span::before {
    top: 0;
    transform: rotate(0);
  }
  #menu__toggle:checked ~ .menu__btn > span::after {
    top: 0;
    transform: rotate(90deg);
  }
  #menu__toggle:checked ~ .menu__box {
    visibility: visible;
    left: 0;
  }

  .menu__btn > span,
  .menu__btn > span::before,
  .menu__btn > span::after {
    transition-duration: 0.25s;
  }
  .menu__box {
    transition-duration: 0.25s;
  }
  .menu__item {
    transition-duration: 0.25s;
  }

  .menu__box1 {
    display: none;
  }

  /* index-стиль */
  body.index {
    background-image: url(images/aiyl_mobile.png);
    background-size: 100% auto;
    background-attachment: inherit;
    background-repeat: no-repeat;
  }

  main.index {
    width: 100%;
    height: auto;
    margin-top: 111%;
    text-align: center;
  }

  section.index {
    width: 100%;
  }
  section.index img {
    width: 98%;
    margin: 1%;
  }

  /* about-стиль */

  section.other {
    margin-top: 10%;
  }

  section.other p {
    font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
    font-size: 170%;
    text-align: center;
    margin-left: 10%;
    margin-right: 10%;
  }

  section.other img {
    margin-left: auto;
    margin-right: auto;
    display: flex;
    width: 35%;
    height: auto;
  }

  /* contact-стиль */

  main.contact img {
    margin-left: auto;
    margin-right: auto;
    display: block;
  }

  h2.contact {
    font-family: comiccat;
    font-size: 100%;
    padding-bottom: 5%;
  }

  /* social-стиль */

  main.social {
    width: 100%;
    margin-top: 10%;
  }

  main.social ul {
    margin-left: 19%;
  }

  main.social ul li {
    margin: 20%;
    list-style: none;
  }

  main.social ul li img {
    width: 70%;
  }
}
